[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/django-statsd"]
	path = vendor-local/django-statsd
	url = https://github.com/andymckay/django-statsd.git
[submodule "vendor-local/django-tastypie"]
	path = vendor-local/django-tastypie
	url = https://github.com/toastdriven/django-tastypie.git
[submodule "vendor-local/django-mysql-aesfield"]
	path = vendor-local/django-mysql-aesfield
	url = git://github.com/andymckay/django-mysql-aesfield.git
[submodule "vendor-local/raven"]
	path = vendor-local/raven
	url = git://github.com/dcramer/raven.git
[submodule "vendor-local/simplejson"]
	path = vendor-local/simplejson
	url = git://github.com/simplejson/simplejson.git
